@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>    
    <script src='@Url.Content("~/lib/jquery-3.3.1.min.js")'></script>
    <script src='@Url.Content("~/lib/knockout-3.4.2.js")'></script>
</head>
<body>
    @RenderBody()
</body>
</html>
