
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li><a class="samples" id="sample1">Hello world</a></li>
</ul>
<br />
<div id="currentSample"></div>


<script>

    $(".samples").click(function () {
        debugger
        var currentId = this.id;
        currentId = currentId.replace("sample", "");
        switch (currentId) {
            case "1":
                $("#currentSample").load('@Url.Action("HelloWorldComponent", "Knockout")');
                break;

        }

    });

</script>

@*<input data-bind="value: value1" />
<br />
<input data-bind="value: value2" />
<br />
<div data-bind="text: value3"></div>
<script>
    var helloVm = function (default1, default2) {
        this.value1 = ko.observable(default1);
        this.value2 = ko.observable(default2);

        this.value3 = ko.pureComputed(function () {
            debugger
            return "Hello " + this.value1() + " " + this.value2()

        }, this);

       
    }

    ko.applyBindings(new helloVm("valor1", "valor2"));

</script>*@

